.rounded-1{
    border-radius: 0.5em !important;
}
.rounded-lg-1{
    @media (min-width:992px) {    
        border-radius: 0.5em !important;
    }
}
.outline-0{
    outline: 0!important;
}                      