.hv-brightness{
    &:hover{
        filter: brightness(90%) !important;
    }
}
.hv-btn-white{
    border-radius: 5px;
    &:hover{
        background: #E4E6EB;                    
    }
}
.hv-lg-btn-white{
    @media (min-width:992px) {
        border-radius: 5px;
        &:hover{
            background: #E4E6EB;                    
        }   
    }
}
