.facebookSearch{
    background-image: url('../images/icons/facebookicons.png');
    background-position: 0 -807px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}
.facebookCatalog{
    background-image: url('../images/icons/facebookicons2.png');    
    background-repeat: no-repeat;
    background-size: 37.2px 1315.2px;
    background-position: 0 -734.4px;
    height: 24px;
    width: 24px;
    display: block;
}
.facebookMenu{
    background-image: url('../images/icons/facebookicon3.png');
    background-position: -58px -13px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.facebookBell{
    background-image: url('../images/icons/facebookicon3.png');    
    background-position: -79px -13px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.facebookPhoto{
    background-image: url('../images/icons/facebookicons4.png');
    background-position: 0px -110.8px;
    background-size: 16px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}
.facebookPhoto2{
    background-image: url('../images/icons/facebookicons4.png');
    background-position: 0px -175px;
    background-size: auto;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
}
.facebookTag{
    background-image: url('../images/icons/facebookicons4.png');
    background-position: 0px -50px;
    background-size: auto;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
}
.facebookEmotion{
    background-image: url('../images/icons/facebookicons4.png');
    background-position: 0px -23px;
    background-size: 23px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
}
.facebookClose{
    background-image: url('../images/icons/facebookicons.png');
    background-position: 0px -419px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.facebookPlush {
    background-image: url('../images/icons/facebookicons.png');
    background-position: 0 -566px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    transform: scale(0.6);
}
.facebookPlush12 {
    background-image: url('../images/icons/facebookicons.png');
    background-position: 0 -314.6px;
    background-size: 14px;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}
.facebookMic{
    background-image: url('../images/icons/facebookicons4.png');
    height: 24px;
    width: 24px;
    background-position: 0px -125px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.facebookPosition{
    background-image: url('../images/icons/facebookicons5.png');
    height: 24px;
    width: 24px;
    background-position: 0px -275px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.facebookCloseDesk{
    background-image: url('../images/icons/facebookicons.png');
    background-position: 0px -566px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}