.facebookSearch{
    background-image: url('../images/icons/facebookicons.png');
    background-position: 0 -807px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}
.facebookCatalog{
    background-image: url('../images/icons/facebookicons2.png');    
    background-repeat: no-repeat;
    background-size: 37.2px 1315.2px;
    background-position: 0 -758.4px;
    height: 24px;
    width: 24px;
    display: block;
}