.Dat_Info{
    width: 1040px;
    max-width: 100%;    
    header{
        .background{
            height: 158px;
            @media (min-width:768px) {                
                height: 240px;
            }
            overflow: hidden;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            @media (min-width:992px) {                
                height: 340px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }            
        }
        .avatar{            
            margin-top: -79px;
            @media (min-width:768px) {                
                margin-top: -120px;
            }
            img{
                border: 5px solid white;
                border-radius: 50%;
                width: 158px;
                height: 158px;
                @media (min-width:768px) {
                    width: 240px;
                    height: 240px;
                }
                top:50%;
                left: 50%;
            }
        }
    }
}
.myavatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    img{
        position: absolute;
        width: 190%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}