.Dat_Info{
    header{
        .background{
            height: 134px;
            @media (min-width:768px) {                
                height: 184px;
            }
            overflow: hidden;
        }
        .avatar{            
            margin-top: -50px;
            img{
                border: 3px solid white;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                top:50%;
                left: 50%;
            }
        }
    }
}
.myavatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    img{
        position: absolute;
        width: 190%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}