.books-item{
    position: relative;
    border: 2px solid var(--theme);    
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;    
    footer{
        background: rgba(0,0,0,.7);
        // position: absolute;
        // bottom: 0;
        // left: 0;
        // right: 0;
        padding: 10px;
        .name{
            transition: 0.3s ease-in-out;    
            margin-bottom: 0;
            font-size: 16px;
            // @extend %limit-1;
        }
    }
    &:hover{
        .name{
            opacity: 1;
        }
    }
}