.my-gallery{
    column-width: 150px;
    column-gap: 1em;
    @media (min-width:567px) { 
        column-width: 250px;
    }
    @media (min-width:768px) {        
        column-width: 250px;
    }
    @media (min-width:992px) {        
        column-width: 250px;
    }
    dd{
        width: 100%;
        margin-bottom: 1em;
        img{
            border-radius: 10px;
            width: 100%;
        }   
    }
}