@font-face{
    src: url('./Nunito/Nunito-Regular.ttf');
    font-family: "Nunito";
}
@font-face{
    src: url('./Lobster/Lobster-Regular.ttf');
    font-family: "Lobster";
}
@import 'color';
@import "shape";
@import "text";
@import "list";
@import 'size';
@import 'iconFacebookMap';
@import 'fb_root';
@import 'mode';
@import 'hv';
@import 'align';
@import 'title';
@import 'border';
html{
    scroll-behavior: smooth;
}
:root{
    --theme:#002855;
}
body{    
    padding: 0;
    padding-bottom: 48px;
    margin: 0;
    background-color: white;
    color: #050505;
    *{
        font-family: Arial, Helvetica, sans-serif ;
    }        
    &.dark-mode{
        background-color: black;
        color: white;
    }
}
