@font-face{
    src: url('./Nunito/Nunito-Regular.ttf');
    font-family: "Nunito";
}
@font-face{
    src: url('./Lobster/Lobster-Regular.ttf');
    font-family: "Lobster";
}
@import 'color';
@import "shape";
@import "text";
@import "list";
@import 'size';

@import "nav";
html{
    scroll-behavior: smooth;
}
:root{
    --theme:#002855;
}
body{    
    padding: 0;
    margin: 0;
    background-color: ghostwhite;
    *{
        font-family: Arial, Helvetica, sans-serif ;
    }        
    &.dark-mode{
        background-color: black;
        color: white;
    }
}
