.about-nav{    
   .search{
     position: relative;
       i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(1.1);
        z-index: 1;        
      }
       input{
          z-index: 0;
          background: #E4E6EB;
          border:none;
          border-radius:5em;
          padding-left: 32px;
          width: 32px;
          height: 32px;          
        }
    }
}