nav.nav-desktop{
    border-bottom: 1px solid #E4E6EB;
    @media (min-width:992px) {
        position:fixed;
    }
    .search{
        position: relative;
        i{
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translate(0%,-50%) scale(1.1);
        z-index: 1;        
        filter: invert(0.3);
        }
        input{
            z-index: 0;
            background: #E4E6EB;
            border:none;
            border-radius:5em;
            padding: 5px 5px 5px 36px ;        
            width: 240px;
            height: 40px;          
            outline: none;
            font-size: .9375rem;
        }
    }
    .nav-right-links{
        display: flex;
        .Name{
            margin: auto;
            display: flex;            
            img{
                height: 28px;
                width: 28px;
                border-radius: 50%;
            }
            p{
                margin: auto;
                font-size: 14px;            
            }
        }
        .link{
            margin-left: 0.5em;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: #E4E6EB;
            display: inline-block;
            position: relative;            
            i,svg{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            &:hover{
                filter: brightness(90%);
            }
            .notification{
                background: #FA383E;
                padding: 0.1em 0.5em ;
                border-radius: 3em;
                font-size: 13px;
                position: absolute;
                top:-5px;
                right: -8px;
                color: white;
            }
        }
    }
}