nav.nav-index{
    position: fixed;
    bottom:0;
    @media (min-width:768px) {
        position: inherit;
        top:0;
        bottom: auto;
    }
    border-top: 1px solid lightgray;
    z-index: 99;
    display: flex;
    background-color: white;    
    // background-color: #333;
    .nav-links{        
        position: relative;      
        .stick-active{
            background: #3578E5;
            height: 2px;
            width: 16.6%;            
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 5px;
            transition: 0.1s ease-in-out;
            @media (min-width:992px) {
                bottom: 0;
                top: inherit;
                height: 3px;
            }
        }        
        justify-content: space-between;
        width: 100%;
        @media (min-width:768px) {            
            justify-content: left;
            width: auto;
            flex: auto;
        }
        @media (min-width:992px) {            
            width: 500px;     
            flex: none;       
        }
        padding-left: 0;
        list-style: none;
        display: flex;       
        margin-bottom: 0; 
        .link{            
            &:nth-child(1){
                &.active + .stick-active{
                    left: 0;
                }        
            }         
            &:nth-child(2){
                &.active{
                    & ~ .stick-active{
                        left: 16.6%;
                    }        
                }
            }     
            &:nth-child(3){
                &.active{
                    & ~ .stick-active{
                        left: 33.2%;
                    }        
                }      
            }     
            &:nth-child(4){
                &.active{
                    & ~ .stick-active{
                        left: 49.8%;
                    }        
                }              
            }     
            &:nth-child(5){
                &.active{
                    & ~ .stick-active{
                        left: 66.4%;
                    }        
                }
            }    
            &:nth-child(6){
                &.active{
                    & ~ .stick-active{
                        left: 83%;
                    }        
                }
            }     
            flex: auto;
            display: flex;
            text-align: center;           
            border-top: 1px solid transparent;  
            a{
                margin: auto;
                display: inline-block;
                color: white;
                text-decoration: none;
                font-family: 'Lobster';                                
                img,i{
                    filter: grayscale(50);
                    height: 26px;
                    width: 26px;               
                    margin: auto;     
                } 
                svg{
                    fill: gray;
                    height: 28px;
                    width: 28px;
                }
            }
            &.active{
                img,i{
                    filter: grayscale(0);
                }
                svg{
                    fill: #3578E5;
                }
            }
            @media (min-width:992px) {
                border-radius: 10px;
                &:hover{
                    background: #E4E6EB;                    
                }
            }
        }
    }
}
